# Git
.git
.gitignore

# Dependencies
**/node_modules
**/.bun

# Next.js
**/.next
**/out
*.tsbuildinfo

# .NET build artifacts
**/bin
**/obj

# IDE & OS
.idea
.vscode
.DS_Store
*.user
*.suo

# Environment & local files
.env
.env.*
!.env.example
*.log

